@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Gray Design Thin';
    src: url(../assets/fonts/GrayDesign_Thin.otf) format('opentype');
}

html, body {
    background: #fafafa;
    font-family: 'Gray Design Thin', 'Nanum Gothic';
    text-align: center;
    color: #2d2d2d;
    margin: 0px;
    padding: 0px;
}

#title {
   font-size: 48px;
   text-align: left;
   color: #2d2d2d;
}

#title a {
    padding: 16px;
    width: 128px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    float: right;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #dadada;
    background: #2d2d2d;
}

#title a:hover {
  border-bottom: 4px solid #00bdff;
  padding: 16px;
  color: #fafafa;
}

#padding-text {
  padding: 16px;
}

#post-container {
    background: #2d2d2d
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 128);
}

#box {
   font-family: 'Gray Design Thin', 'Nanum Gothic';
   font-size: 48px;
   text-align: center;
   color: #2d2d2d;
   background: #2d2d2d;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
   border: 16px solid #2d2d2d;
}