@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Gray Design Light';
    src: url(../assets/fonts/GrayDesign_Light.otf) format('opentype');
}

@font-face {
    font-family: 'Gray Design Bold';
    src: url(../assets/fonts/GrayDesign_Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Gray Design Medium';
    src: url(../assets/fonts/GrayDesign_Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Gray Design Thin';
    src: url(../assets/fonts/GrayDesign_Thin.otf) format('opentype');
}

html, body {
  font-family: 'Gray Design Light', 'Nanum Gothic';
  font-size: 18px;
  background: #f1f1f1;
  text-align: center;
  color: #2d2d2d;
  margin: 0px;
  padding: 0px;
}

#title {
   font-size: 42px;
   text-align: left;
   margin-left: 128px;
   margin-right: 128px;
   margin-top: -50px;
   color: #2d2d2d;
}

.blur {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background: url("../assets/images/main_background.jpg");
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);
}

.image-box {
  border: 10px solid #4d4d4d;
}

.card {
  text-align: left;
  margin-left: 128px;
  margin-top: 36px;
}

.card-text {
  display: inline-block;
  text-align: left;
}

.card-image {
  margin-right: 10px;
}

.head-text {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Gray Design Medium';
  text-shadow: 0px 2px 5px rgba(128, 128, 128, 128);
}

.index-text {
  font-size: 16px;
  font-style: italic;
  font-family: 'Gray Design Light';
  color: rgb(85, 85, 85);
}

.box {
  color: #2d2d2d;
  background: #fafafa;
  box-shadow: 0px 6px 12px rgba(125, 125, 128, 125);
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  margin: 8px;
}

.download-form {
  background: #fafafa;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  text-align: left;
  padding-left: 2px;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
