@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Gray Design Thin';
    src: url(../assets/fonts/GrayDesign_Thin.otf) format('opentype');
}

html, body {
    background: #fafafa;
    font-family: 'Gray Design Thin', 'Nanum Gothic';
    font-size: 18px;
	text-align: center;
    color: #2d2d2d;
    margin: 0px;
    padding: 0px;
}

#title {
   font-size: 48px;
   padding-top: 64px;
   text-align: center;
   color: #2d2d2d;
}

#title a {
    padding: 8px;
    width: 72px;
    height: 24px;
    font-size: 16px;
	font-weight: bold;
    line-height: 24px;
	float: center
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #a1a1a1;
}

#title a:hover {
  border-bottom: 1px solid #00bdff;
  padding: 16px;
  color: #2d2d2d;
}

.padding-text {
  margin: 16px;
  margin-top: 16px;
}

.head-text {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(128, 128, 128, 128);
}

#post-container {
    background: #2d2d2d
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 128);
}

#list {
  padding: 60px;
  background: #2d2d2d;
 }

#box {
   font-size: 18px;
   text-align: center;
   float: center;
   color: #fafafa;
   background: #2d2d2d;
   border: 16px solid #2d2d2d;
   box-shadow: 0px 0px 24px rgba(128, 128, 128, 128);
   margin-top: 6px;
}
